:root {
  /* Colors */
  --midnight-blue: #193175; /* Midnight Blue */
  --lavender-gray: #aeb3cd; /* Lavender gray */
  --twilight-lavender: #969bb3; /* Darker shade of lavender gray*/
  --cloudy-lavender: #edeefc; /* Lighter shade of lavender gray*/
  --white: #ffffff;    /* White */
}

header {
    position: sticky; /* Sticks to the top on scroll */
    top: 0;
    width: 100%;
    z-index: 999; /* Ensures header stays above other elements */
    background-color: var(--white); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo Area */
  .logo h1 {
    font-size: 1.5rem;
    color: var(--midnight-blue);
  }
  
  /* Navigation */
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  nav a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: var(--lavender-gray); /* Accent on hover */
  }
